Package: com.axs.newfeature
Name: NewFeature
Version: 5.2.0
Architecture: iphoneos-arm
Description: 一个简单的微信插件。
Section: 微信插件
Maintainer: Axs
Author: Axs
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://axs66.github.io/repo/icon/wechat.png
SileoDepiction: https://axs66.github.io/repo/sileodepiction/newfeature/js.json
